<div class="row">
  <div class="time-form">
    <!-- , ({controller: "expenses", action: "index"}, method: "get"),  -->
    <%= form_for :search, method: 'get', class: "form-inline" do |f| %>
      <div class="col-xs-3">
        <div class="form-group">
          <%= f.label :category, nil, {class: 'sr-only'} %>
          <%= f.collection_select :category_id, Category.all, :id, :name, {include_blank: 'all'}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <%= f.label :start_date, {class: 'sr-only'} %>
          <%= f.date_field :start_date, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="form-group">
          <%= f.label :end_date, {class: 'sr-only'} %>
          <%= f.date_field :end_date, {class: 'form-control'} %>
        </div>
      </div>
      <%= f.submit "Go", class: "btn btn-success" %>
    <% end %>
  </div>
</div>
