<%= form_for @expense do |f| %>
  <%= render "shared/error_messages", :object => @expense %>
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <%= f.label :value %>
        <%= f.text_field :_value, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-8">
      <div class="form-group">
        <%= f.label :category %>
        <%= f.collection_select :category_id, Category.all, :id, :name, {}, {class: 'form-control'} %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    </div>
  </div>
  <%= f.submit "Add", class: "btn btn-success" %>
  <%= params %>
<% end %>
