<div class="col-md-6 col-md-offset-3">
  <% if !@expenses.empty?%>
    <%= render 'filter' %>
  <% end %>

  <% if @analysis.has_expenses? %>
    <h3>Total Costs</h3>
    <% @analysis.result.each do |k, v| %>
      <%= k %> : <%= v %><br />
    <% end %>
    <b>Total:</b> <%= @analysis.total_price %>
  <% end %>


  <h3>Your Expenses</h3>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Cost</th>
      <th></th>
      <th></th>
    <tr>
      <% @expenses.each do |expense| %>
        <tr>
          <td><%= expense.date %></td>
          <td><%= expense.category.name %></td>
          <td><%= expense.value %></td>
          <td><%= link_to "edit", edit_expense_path(expense.id) %></td>
          <td><%= link_to "destroy", expense_path(expense.id), method: :delete %></td>
        </tr>
      <% end %>
  </table>
  <div class="text-center">
    <%#= will_paginate @expenses, :page_links => false %>
  </div>
  <%#= params %>
</div>
