<div class="col-md-6 col-md-offset-3">
  <% if !@expenses.empty?%>
    <%= render 'filter' %>
  <% end %>

  <% if @analysis.has_expenses? %>
    <table class="table table-striped">
      <% @analysis.result.each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
      <tr>
        <td><b>Total:</b></td>
        <td><b><%= @analysis.total_price %></b></td>
      </tr>
    </table>
  <% end %>

  <h3>Your Expenses</h3>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Date</th>
      <th>Category</th>
      <th>Cost</th>
      <th></th>
      <th></th>
    <tr>
      <% @line_sets.each do |line_set| %>
        <tr>
          <td><b><%= line_set.date %></b></td>
          <td></td>
          <td><b><%= line_set.total_price %></b></td>
          <td></td>
          <td></td>
        </tr>
        <% line_set.expenses.each do |expense| %>
          <tr>
          <div class="expense">
            <td></td>
            <td><%= expense.category.name %></td>
            <td><%= expense.value %></td>
            <td><%= link_to "edit", edit_expense_path(expense.id) %></td>
            <td><%= link_to "destroy", expense_path(expense.id), method: :delete %></td>
          </div>
          </tr>
        <% end %>
      <% end %>

  </table>
  <div class="text-center">
    <%= will_paginate @line_sets, :page_links => false %>
  </div>
  <%#= params %>
</div>
